/src
/log
/logs
/node_modules
/test
/dist/**/*.test.js
/dist/**/*.test.d.ts
/config/development.toml
/config/test.toml
npm-debug.log
.idea
.vscode
.npmignore
.gitignore
.git
.travis.yml
.history
.prettierrc
appveyor.yml
package-lock.json
tsconfig.development.json
tsconfig.json
tslint.json
